@using SMFerragens.WebApp.Helpers
@model IEnumerable<SMFerragens.WebApp.Models.GrupoComProdutosVm>
@{
    ViewBag.Title = "Produtos";
}

<div class="container">
    @foreach (var grupoComProdutos in Model)
    {
        <h3 class="nome-do-grupo">@grupoComProdutos.Grupo.Descricao</h3>

        <table class="tabela-de-precos">
            <thead>
                <tr>
                    <td>Produto</td>

                    @foreach (var formaDeVenda in grupoComProdutos.FormasDeVenda)
                {
                        <td class="forma-de-venda">@formaDeVenda.ToDescription()</td>
                    }
                </tr>
            </thead>

            <tbody>
                @foreach (var produto in grupoComProdutos.Produtos)
                {
                    <tr>
                        <td class="nome-do-produto">@produto.Nome</td>

                        @foreach (var preco in produto.PrecosPara(grupoComProdutos.FormasDeVenda))
                        {
                            var valor = preco.Valor > 0 ? preco.Valor.ToString().Replace(".", ",") : "---";
                            <td class="preco">
                                <span data-js="preco">@valor</span>
                                <input class="escondido troca-de-valor" type="text" data-js="novo-valor" data-codpro="@produto.CodPro" data-formadevenda="@preco.FormaDeVenda" value="@valor" />
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    }
</div>

@section scripts {
    <script src="~/App/trocaDePrecos.js"></script>

    <script>
        window.trocaDePrecos.iniciar();
    </script>
}